.note-main label {
	font-size: 1.5rem;
	color: #fff;
}
.note-main p {
	font-size: 1.5rem;
	color: red;
}

.note-main form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.note-main input,
.note-main textarea {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	width: 80%;
}

.note-main textarea {
	height: 10rem;
}

.note-main select {
	width: 40%;
	font-size: 1.5rem;
}

.note-main button {
	font-size: 1.8rem;
	background-color: #eee;
	color: black;
	padding: 0.2rem 1.8rem;
	margin-top: 3rem;
	border-radius: 1rem;
}

.note-main button:disabled {
	color: rgb(201, 192, 192);
}

.note-main button:hover {
	background-color: aqua;
}
